.container{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
}

button{
    padding: 10px;
    font-size: 1.3rem;
    border-radius: 10px;
    border: none;
    background-color: rgb(35, 40, 41);
    color :wheat;
    font-weight: bold;
    cursor: pointer;
    

}

button:hover{
    background-color: rgb(248, 232, 202);
    color: black;
}

input{
    font-size: 1.3rem;
    text-align: center;
    padding: 5px;
    width: 100px;
}
 h1{
    padding: 20px;
    background-color: red;
    color: whitesmoke;
    border-radius: 20px;

 }

 body{
    background-color: hsl(0, 2%, 10%);
    color: wheat;
 }

 input{
    border-radius: 15px;
    background-color: wheat;
    margin: 10px;
 }

 #diceResult{
    padding: 20px;
    margin: 10px;
    background-color: brown;
    border-radius: 30px;
    border: none;

 }

 #diceImages img{
    padding: 10px;
    margin:10px;
 }